@charset "utf-8";

body {
   
    background-color: grey;
    z-index: 0.1;
    height: 2900px;
}

.footer {
    margin-top: 200px;
}

/*design the picture*/
img#bookingNow {
    position: relative;
    width: 100%;
    height: 900px;
    z-index: -1;
}

/*design the button in the image*/
button#booking {
    position: absolute;
    z-index: 0.1;
    padding: 50px;
    top: 50%;
    left: 42.5%;
    opacity: 0.5;
    font-size: 30px;
    font-weight: bolder;
    border: transparent;
    background-color: rgb(5, 5, 5);
    color: white;
}

#booking:hover {
    background-color: gray;
}

/* The Modal (background) */
.modal {
    animation: big 1s;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  @keyframes big {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
  
  /* Modal Content */
  .modal-content {
    background-color: antiquewhite;
    margin-top: 150px;
    margin-left: 20%;
    height: 500px;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/*design the booking sheet*/
.bookSheet {
    position: relative;
    display: flex;
    width: 100%;
    top:94%;
    background-color: #Baa382;
    padding: 30px;
    box-shadow:  10px 10px 50px black;
}

input[type=text]#book {
    margin-left: 40%;
    font-size: 15px;
    text-align: center;
    font-weight: bolder;    
    padding-top:40px;    
    padding-bottom: 40px;
}

input[type=date]#book {
    margin-left: 0.5%;
    font-size: 15px;
    padding: 30px;
    font-weight: bolder;   
}

input[type=number]#book {
    margin-left: 0.5%;
    font-size: 12px;
    text-align: center;
    font-weight: bolder;   
}

.Book {
    position: absolute;
    background-color: black;
    color: white;
    width: 38%;
    top: 990px;
    height: 270px;
    box-shadow: 5px 5px 20px black;;
}

.Book>h1 {
    vertical-align: middle;
    text-align: center;
    margin-top:10%;
    font-size: 40px;
}

.Book p {
    vertical-align: middle;
    text-align: center;
    font-size: 30;
}

/*set the arranged of king room picture*/
#kingWord {
    text-align: center;
    margin-top: 200px;
    font-size: 70px;
    text-shadow: 10px 5px 1px rgb(242, 242, 242);
}

.bigRoom {
    display: flex;
    margin-left: 300px;
    margin-top: 100px;
}

#king {
    width: 55%;
    height: 400px;
    position: relative;
    box-shadow: 10px 10px 30px black;
}

#borderKing {
    border: solid 1px white;
    width: 30%;
    height: 250px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 10px 10px 60px black;
    position: absolute;
    margin-left: 38%;
}

#borderKing3 {
    width: 350px;
}

.anotherKing{
    display: flex;
    margin-top: 40px;
    margin-left: 8%;
}

#king2 {
    width: 25%;
    height: 250px;
    box-shadow: 10px 10px 30px black;
}

#king3 {
    width: 25%;
    height: 250px;
    margin-left: 1%;
    box-shadow: 10px 10px 30px black;
}

/*set the arranged of twin room picture*/

h1#kingWord1 {
    text-align: center;
    margin-top: 200px;
    font-size: 70px;
    text-shadow: 10px 5px 1px rgb(121, 117, 117);
}

.TwinRoom {
    margin-top: 100px;
}

.twinRoom {
    display: flex;
}

img#twin {
    width: 43%;
    height: 400px;
    position: relative;
    margin-left: 36%;
    box-shadow: 10px 10px 30px black;
    z-index: -1;
}

#borderTwin {
    position:absolute;
    border: solid 1px white;
    width: 30%;
    height: 250px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 10px 10px 60px black;
    position: absolute;
    margin-left: 11%;
    z-index: 0.2;
}

.anotherTwin {
    display: flex;
    margin-top: 40px;
    margin-left: 30%;
}

#Twin2 {
    width: 35%;
    height: 250px;
    position: relative;
    margin-left: -100px;
    box-shadow: 10px 10px 30px black;
}

#Twin3 {
    width: 35%;
    height: 250px;
    position: relative;
    margin-left: 360px;
    box-shadow: 10px 10px 30px black;
}

#borderTwin1 {
    width: 350px;
    position: absolute;
    margin-left: -450px;
}

#borderTwin3 {
    width: 350px;
    position: absolute;
    margin-left: 350px;
}

/*set the arranged of special room picture*/
h1#kingWord2 {
    text-align: center;
    margin-top: 200px;
    font-size: 70px;
    text-shadow: 10px 5px 1px rgb(121, 117, 117);
}

.SpecialRoom {
    margin-top: 100px;
    margin-left: 300px;
}

.specialRoom {
    display: flex;
}

#special {
    width: 55%;
    height: 400px;
    position: relative;
    box-shadow: 10px 10px 30px black;
}

#borderSpecial {
    border: solid 1px white;
    width: 30%;
    height: 250px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 10px 10px 60px black;
    position: absolute;
    margin-left: 38%;
}

.anotherSpecial {
    display: flex;
    margin-top: 40px; 
    margin-left: -200px;
}

#special2 {
    width: 25%;
    height: 250px;
    box-shadow: 10px 10px 30px black;
}

#special3 {
    width: 25%;
    height: 250px;
    margin-left: 17%;
    box-shadow: 10px 10px 30px black;
    margin-left: 2px;
}

#borderSpecial2 {
    width: 350px;
}

#borderSpecial3 {
    width: 350px;
}

.bed{

    background: url("../room/picture/bedicon.svg") ;
    padding: 5px 10px 5px 25px;
    list-style: none;
    background-repeat: no-repeat;
    
}

.how{

    background: url("../room/picture/how.svg") ;
    padding: 5px 10px 5px 25px;
    list-style: none;
    vertical-align: middle;
    background-repeat: no-repeat;
   
 
}

.area{

    background: url("../room/picture/area.svg") ;
    padding: 5px 10px 5px 25px;
    list-style: none;
    vertical-align: middle;
    background-repeat: no-repeat;
 
}



/*design the content*/
#word1 {
    padding-bottom: 10px;
    margin-left: 10%;
    width: 80%;
    text-align: left;
    font-size: 30px;
    border-bottom: solid 1px black;
}

p {
    padding-left: 20px;
    padding-top: 20px;
}

/*design the button*/
button#button1 {
    border: transparent;
    padding: 12px;
    margin-left: 20px;
    margin-top: -80px;
    background-color: #edb05c;
}

button#button1:hover {
    background-color: #d7a762;
}

#dollar{

   background:url("../room/picture/priceicon.svg");
    padding: 5px 10px 5px 25px;
    list-style: none;
    vertical-align: middle;
    background-repeat: no-repeat;
 
}

.roomicon{

    margin-left:30px;
}

.form {
    padding: 20px;
    width: 90%;
    margin-left: 5%;
}

#firstName1 {
    margin-top: 15px;
}

#secondName1 {
    margin-top: 15px;
}

#email1 {
    margin-top: 15px;
}

#phone1 {
    margin-top: 15px;
}

#payment {
    border: transparent;
    margin-top: 20px;
    padding: 13px;
    width: 20%;
    float: right;
    background-color: #edb05c;
}

#payment:hover {
    background-color: #d7a762;
}


@media only screen and (max-width: 1200px){
    #bookingNow {
        width: 20%;
    }

    #Twin3 {
        width: 35%;
        height: 250px;
        position: relative;
        margin-left: 290px;
        box-shadow: 10px 10px 30px black;
    }

    /*set the arranged of king room picture*/
    #kingWord {
        text-align: center;
        margin-top: 100px;
        font-size: 40px;
        text-shadow: 10px 5px 1px rgb(242, 242, 242);
    }

    .bigRoom {
        display: flex;
        margin-left: 250px;
        margin-top: 100px;
    }

    #king {
        width: 35%;
        height: 200px;
        position: relative;
        box-shadow: 10px 10px 30px black;
    }

    #borderKing {
        border: solid 1px white;
        width: 30%;
        height: 200px;
        margin-top: 1px;
        background-color: white;
        box-shadow: 10px 10px 60px black;
        position: absolute;
        margin-left: 26.5%;
    }

    #borderKing3 {
        width: 200px;
        margin-left: -20px;
    }

    .anotherKing{
        display: flex;
        margin-top: 40px;
    }

    #king2 {
        width: 20%;
        height: 150px;
        box-shadow: 10px 10px 30px black;
    }

    #king3 {
        width: 20%;
        height: 150px;
        margin-left: 1%;
        box-shadow: 10px 10px 30px black;
    }

    #word1 {
        padding-bottom: 10px;
        width: 80%;
        text-align: left;
        font-size: 15px;
        border-bottom: solid 1px black;
    }
    
    p {
        padding-left: 20px;
        padding-top: 0px;
        font-size: 13px;
    }

    /*design the button*/
    button#button1 {
        border: transparent;
        padding: 6px;
        margin-left: 20px;
        margin-top: 5px;
        background-color: #edb05c;
        
    }

    /*set the arranged of twin room picture*/

    /*design the button in the image*/
    button#booking {
    position: absolute;
    z-index: 0.1;
    padding: 30px;
    top: 40%;
    left: 40%;
    opacity: 0.5;
    font-size: 30px;
    font-weight: bolder;
    border: transparent;
    background-color: rgb(5, 5, 5);
    color: white;
    }

    .TwinRoom {
        margin-top: 100px;
        margin-left: 120px;
    }

    .twinRoom {
        display: flex;
    }

    img#twin {
        width: 35%;
        height: 200px;
        position: relative;
        margin-left: 43%;
        box-shadow: 10px 10px 30px black;
        z-index: -1;
    }

    #borderTwin {
        position:absolute;
        border: solid 1px white;
        width: 30%;
        height: 200px;
        margin-top: 1px;
        background-color: white;
        box-shadow: 10px 10px 60px black;
        position: absolute;
        margin-left: 10%;
        z-index: 0.2;
    }

    .anotherTwin {
        display: flex;
        margin-top: 40px;
        margin-left: 35%;
    }

    #Twin2 {
        width: 25%;
        height: 150px;
        position: relative;
        margin-left: -100px;
        box-shadow: 10px 10px 30px black;
    }

    #Twin3 {
        width: 25%;
        height: 150px;
        position: relative;
        margin-left: 220px;
        box-shadow: 10px 10px 30px black;
    }

    #borderTwin1 {
        width: 200px;
        position: absolute;
        margin-left: -320px;
    }

    #borderTwin3 {
        width: 200px;
        position: absolute;
        margin-left: 65px;
    }
    /*set the arranged of special room picture*/
    .SpecialRoom {
        margin-top: 100px;
        margin-left: 420px;
    }

    .specialRoom {
        display: flex;
    }

    #special {
        width: 45%;
        height: 200px;
        position: relative;
        box-shadow: 10px 10px 30px black;
        margin-left: -200px;
    }

    #borderSpecial {
        border: solid 1px white;
        width: 30%;
        height: 200px;
        margin-top: 1px;
        background-color: white;
        box-shadow: 10px 10px 60px black;
        position: absolute;
        margin-left: 6%;
    }

    .anotherSpecial {
        display: flex;
        margin-top: 40px; 
        margin-left: -370px;
    }

    #special2 {
        width: 20%;
        height: 150px;
        box-shadow: 10px 10px 30px black;
    }

    #special3 {
        width: 20%;
        height: 150px;
        margin-left: 17%;
        box-shadow: 10px 10px 30px black;
        margin-left: 2px;
    }

    #borderSpecial2 {
        width: 200px;
    }

    #borderSpecial3 {
        width: 200px;
    }

    .bookSheet {
        position: relative;
        display: flex;
        width: 100%;
        top:94%;
        background-color: #Baa382;
        padding: 5px;
        box-shadow:  10px 10px 50px black;
    }
    
    input[type=text]#book {
        margin-left: 0.5%;
        font-size: 17.5px;
        text-align: center;
        font-weight: bolder;    
    }
    
    input[type=date]#book {
        margin-left: 0.5%;
        font-size: 17.5px;
        font-weight: bolder;   
    }
    
    input[type=number]#book {
        margin-left: 0.5%;
        font-size: 12.5px;
        text-align: center;
        font-weight: bolder;   
    }
    
    .Book {
        display: none;
        position: absolute;
        background-color: black;
        color: white;
        width: 25%;
        top: 950px;
        height: 150px;
        box-shadow: 5px 5px 20px black;
    }
    
    .Book>h1 {
        vertical-align: middle;
        text-align: center;
        margin-top:10%;
        font-size: 20px;
    }
    
    .Book p {
        vertical-align: middle;
        text-align: center;
        font-size: 10px;
    }

    body {
        height: 3000px;
        background-color: grey;
        z-index: 0.1;
    }


}

