@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@font-face{
    font-family:caveat;
     src:url(Caveat-VariableFont_wght.ttf);
}
html,body{
    min-width:50%;
    max-width:100%;
    height: 100%;
    line-height: 1.5;
	
    background-color: grey;
}

body{
        background-image: url('banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
}

.contactUs{
    font-family: sans-serif;
}

/* Body */
.contactHeader h1{
    color: white;
    letter-spacing: 2.0px;
    font-size: 3.15rem;
    font-family: sans-serif;
    font-weight: 900;
    line-height: 1.5rem;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 2%;
}

.contactUs{
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
}

.operateHour , .emailUs{
    margin-top: 20px;
    padding: 10px;
    background-color: #BAA382;
    border-radius: 2%;
    color: white;
    font-weight: 500;
    width: 40%;
    margin-bottom: 40px;
}

.operateHour{
    text-align: center;
    margin-right: 30px;
}

.operateHour h2 , .emailUs h2{
    font-style:italic;
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;
}

.operateHour h3{
    font-size: 30px;
}

.operateHour a , .emailUs a{
    color: white;
}


.operateHour a:hover , .emailUs a:hover{
    color: #f6eee3;
}

.operateHour p , .emailUs p{
    line-height: 1.5rem;
    margin-bottom: 1rem;
    font-size: 25px;
}

.contactUs label{
    font-size: 25px;
}

input[type=text]{
    border-radius: 5px;
    border: 1px white;
    width: 35rem;
    background-color: antiquewhite;
    padding: 6px;
}

textarea{
    width: 96%;
    height: 100px;
    border-radius: 5px;
    resize: none;
    background-color: antiquewhite;
}

input[type=submit]{
    width: 20%;
    border-radius: 2px;
    border: 1px white;
    height: 30px;
    background-color: antiquewhite;
    cursor: pointer;
    color: grey;
    margin-top: 10px;
    font-size: 20px;
    padding: 2px;
}

input[type=submit]:hover{
    background-color: rgb(232, 222, 173);
}

::placeholder{
text-align: start;
}

@media only screen and (max-width:1025px) {
    input[type=text]{
        border-radius: 5px;
        border: 1px white;
        width: 24rem;
        background-color: antiquewhite;
        padding: 6px;
    }

    body{
        background-image: url('banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 50px;
}
}



