@charset "utf"; 


/* video */
.mainvideo{

    text-align: center;
    color: rgb(255, 255, 255);
    display:flex;
}

.video{
    height:80vh;
    width:100%;
    object-fit: cover;
}

.vidtit h1{
    font-size: 100px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-shadow: white -2px 0px 0px, rgb(0, 0, 0) -14px 0px 8px;
    animation: glow 2.0s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fbff09, 0 0 40px #cae004, 0 0 50px #b4ce08, 0 0 60px #96dd08, 0 0 70px #85a205;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #e08c05, 0 0 40px #b49a04, 0 0 50px #bbd321, 0 0 60px #2355c8, 0 0 70px #2568c5, 0 0 80px #1a7bb8;
    }
  }



.offers-color{
    background-color: #0000063e;
    height:80vh;
    width:100%;
    position: absolute;
}

/*html*/
html{
    background-color: rgba(186, 186, 186, 0.768);
}


/* offers */
article{
    margin-top: 120px;
}

h2{
    font-size: 80px;
}

/*video*/
.video{
    height:80vh;
    width: 100%;
    object-fit: cover;
}
/*text picture button */



body{
    margin: 0;
    padding: 0;
}



button#mealButton,
button#discount75Button,
button#discount50Button,
button#discount25Button {
  padding: 35px 65px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #210469ad;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button#mealButton:hover,
button#discount75Button:hover,
button#discount50Button:hover,
button#discount25Button:hover {background-color: #ad1111ea}

button#mealButton:active,
button#discount75Button:active,
button#discount50Button:active,
button#discount25Button:active {
  background-color: #1d0092;
  box-shadow: 0 5px #666;
  transform: translateY(8px);
}

.offer {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
}

.offer ul {
    list-style-type: disc; /* Use disc bullets for lists */
    font-size: 40px; /* Increase the font size for the list items */
    margin-left: 20px; /* Add some margin to the left of the list */
}

li.offerlist {
    margin-bottom: 10px; /* Add spacing between list items */
}

section{
    width: 80%;
}

p{
    font-size: 50px;
}

@media only screen and (max-width:1710px){
    img{
        width: 70%;
    }

    .offers-color{
        height:80vh;
         width:100%;
    }
    .video{
        height:80vh;
        width:100%;
        object-fit: cover;
    }
    
    .vidtit h1{
        font-size: 100px;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        color: #fff;
        text-shadow: white -2px 0px 0px, rgb(0, 0, 0) -14px 0px 8px;
        animation: glow 2.0s ease-in-out infinite alternate;
    }
}

