@charset "utf"; 

/*header*/
header{

    display:flex;
    background-color:#Baa382;
    width:100%;
    padding:12px;
    justify-content: space-between;
    position:fixed;
    top:0;
    z-index:1;
}

.mainlogo{ 
    font-size:30px;
   font-weight:bold;
   font-family:caveat;
   width:60%;
}

.mainlogo a{

    color:white;
    text-decoration: none;
}

.mainlogo img{

    width:60px;
    border-radius: 30px;
    vertical-align: middle;
    

}
/*navigation list*/
.navlist{

    line-height:50px;
    width:100%;
    
   
    
    
}
.menuicon{

    display:none;
}
.menu-icon{

  width:20px;
  
    
   
}

.close-icon{
  
    width:20px;
  
}

#check{
   
  display:none;
    
}

.navlist a{

   margin-left:20px;
   color:white;
   text-decoration: none;
   font-size:18px;
   position:relative;
   
}
.navlist a::before{

    content:"";
    position:absolute;
    width:0;
    bottom:0;
    height:2px;
    background: white;
   transition:0.3s;
    
}
.navlist a:hover::before{

    width:100%;
    
}

@media only screen and (min-width:977px){

    /*header*/
header{

    display:flex;
    background-color:#Baa382;
    width:100%;
    padding:20px;
    justify-content: space-between;
    position:fixed;
    top:0;
    z-index:1;   
   
}


.mainlogo{
    
    
    font-size:30px;
   font-weight:bold;
   font-family:caveat;
   width:42%;
  
   
    
}
.mainlogo a{

    color:white;
    text-decoration: none;
}

.mainlogo img{

    width:60px;
    border-radius: 30px;
    vertical-align: middle;
    

} 
}

@media only screen and (max-width:976px){
.navlist{


    position:absolute;
    background-color:#Baa382;
    width:100%;
    height:0;
    overflow:hidden;
    left:0;
    top:100%;
    transition:.2s ease;
       
}
.navlist a{

    display:block;
    text-align:center;
    font-size:1.5rem;
    margin:1rem 0;
}


.menuicon{

    display:inline-flex;
    width:20px;
    height:25px;
    margin-top:13px;
    margin-right:46%;
    cursor:pointer;
       
}

.close-icon{

    display:none;
}


#check:checked~.menuicon .menu-icon{

  display:none;
}

#check:checked~.menuicon .close-icon{

    display:block;
  }

  #check:checked~ .navlist{

    height:30rem;
  }

  .navlist a:hover{

    background-color:#99856a;

  }

  .navlist a::before{
    display:none; 
    
}


}

/*dropdown for profile*/
.dropdown{

   right:0;
   width:3%;
   
}
.drpbtn{

    background:none;
    border:none;
     line-height:60px;
    
}
.drpbtn img{
    width:20px;
}
.dropdown{

    position:relative;
    
}
.dropdown-content{

    position:absolute;
    background-color:#b5894b;
    width:140px;       
    right:20px;
    border-radius:12px; 
    display:none;
    z-index:1;
    top:30px;

}
.dropdown-content a{

    color:white;
    text-decoration: none;
    text-align:center;
    padding:15px;
    display:block;
 
    

}
.drpbtn:hover{

    opacity:0.5;
    cursor: pointer;

}

.dropdown:hover .dropdown-content{

    display:block;

}
.dropdown-content a:hover{

    background-color:#c7a27b;
    border-radius:12px;
}

/*for chat box(*/
.show-btn {
    transform: rotate(-90deg);
    position: fixed;
    min-width: 64px;
    cursor: pointer;
    border: 1px solid transparent;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10%; 
    right: -32px;
    font-weight: 500;
    font-family: "Reforma 1969","AXtManalBold Regular",Helvetica,Arial,"Microsoft Yahei","PingFang SC","PingFang TC","PingFang HK","Hiragino Sans",sans-serif;
    z-index: 1;
    line-height: 1.75;
    text-transform: uppercase;
    padding: 6px 16px;
    background-color: #BAA382;
    border-radius: 12px;
}

.show-btn svg {
    width: 30px;
}

input[type="checkbox"]{
    display: none;
}

#show:checked ~ .wrapper{
    display:block;
}

.wrapper{
    display:none;
    width: 320px;
    height: 400px;
    margin: 80px auto;
    background: #fff;
    box-shadow:0px 10px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    right: 4%;
    bottom: -50px;
    opacity: 0.95;
}

h5{
    color: #fff;
    padding: 15px;
    background: #BAA382;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
}

p#wrapper{
    font-size: 13px;
    margin-top: 10px;
    padding: 5px 20px;
    text-align: center;
}

form{
    margin: 10px;
    width: 270px;
    padding: 20px 15px;
    border-radius: 10px;
    border: 1px solid rgb(236, 234, 234);
}

#chat input{
    display: block;
    width: 92%;
    border: none;
    outline: none;
    padding: 10px;
    color: #BAA382;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid rgb(236, 234, 234);
}

#chat input::placeholder{
    color: rgb(214, 211, 211);
}

button#button2{
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    background: #BAA382;
    border-radius: 12px;
}

input:focus{
    border-color: #BAA382;
}

button:hover{
    background:#dc983a;
}

.wrapper{
    animation: popup 0.5s;

}

@keyframes popup {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
*{

    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* video */
.mainvideo{

    text-align: center;
    color: rgb(255, 255, 255);
    display:flex;
}

.video{
    height:80vh;
    width:100%;
    object-fit: cover;
}

.vidtit h1{
    font-size: 100px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-shadow: white -2px 0px 0px, rgb(0, 0, 0) -14px 0px 8px;
    animation: glow 2.0s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fbff09, 0 0 40px #cae004, 0 0 50px #b4ce08, 0 0 60px #96dd08, 0 0 70px #85a205;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #e08c05, 0 0 40px #b49a04, 0 0 50px #bbd321, 0 0 60px #2355c8, 0 0 70px #2568c5, 0 0 80px #1a7bb8;
    }
  }



.offers-color{
    background-color: #0000063e;
    height:80vh;
    width:100%;
    position: absolute;
}

/*html*/
html{
    background-color: rgba(186, 186, 186, 0.768);
}


/* offers */
article{
    margin-top: 120px;
}

h2{
    font-size: 80px;
}

/*video*/
.video{
    height:80vh;
    width: 100%;
    object-fit: cover;
}
/*text picture button */



body{
    margin: 0;
    padding: 0;
}



button#mealButton,
button#discount75Button,
button#discount50Button,
button#discount25Button {
  padding: 35px 65px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #210469ad;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button#mealButton:hover,
button#discount75Button:hover,
button#discount50Button:hover,
button#discount25Button:hover {background-color: #ad1111ea}

button#mealButton:active,
button#discount75Button:active,
button#discount50Button:active,
button#discount25Button:active {
  background-color: #1d0092;
  box-shadow: 0 5px #666;
  transform: translateY(8px);
}

.offer {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
}

.offer ul {
    list-style-type: disc; /* Use disc bullets for lists */
    font-size: 40px; /* Increase the font size for the list items */
    margin-left: 20px; /* Add some margin to the left of the list */
}

li.offerlist {
    margin-bottom: 10px; /* Add spacing between list items */
}

section{
    width: 80%;
}

p{
    font-size: 50px;
}

@media only screen and (max-width:1710px){
    img{
        width: 70%;
    }

    .offers-color{
        height:80vh;
         width:100%;
    }
    .video{
        height:80vh;
        width:100%;
        object-fit: cover;
    }
    
    .vidtit h1{
        font-size: 100px;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        color: #fff;
        text-shadow: white -2px 0px 0px, rgb(0, 0, 0) -14px 0px 8px;
        animation: glow 2.0s ease-in-out infinite alternate;
    }
}

