*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hr{
    border: 1px solid #333;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color:grey;
    padding-top: 100px;
    z-index: 1;
}

.heading{
    background-color: #baa382;
    color: #fff;
    margin-bottom: 30px;
    padding: 30px 0;
    grid-column: 1/-1;
    text-align: center;
    padding-top: 0;
}

.menu{
    padding: 15px 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap: 20px 40px;
    text-transform: capitalize
}

.heading h1{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.heading h3{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 4px;
}

.heading h6{
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.type{
    padding: 5px;
    font-size: 25px;
    font-family: 'poppins',sans-serif;
    padding-left: 20px;
    opacity: 0.8;
}



.food-items{
    
    display: grid;
    position: relative;
    border-radius: 20px;
    grid-template-rows: auto 1fr;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    background-color: #f0efefc9;
}

.food-items img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 350px;
}

.food-items:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}

h1{
    grid-column: 1/-1;
    text-align: center;
}

.details{
    padding: 15px 20px;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}

.details-sub{
    display: grid;
    grid-template-columns: auto auto;
    padding-top:10px;   
}

.details-sub h5{
    font-weight: 6000;
    font-size: 18px;
}

.price{
    text-align: right;
}

.details p{
    color: #6f6f6f;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    align-self: stretch;
}

.btn{
    padding: 10px 50px;
    align-self: left;
    margin:auto;
}

.btn:hover{
    transition: 0.5s;
    background-color: #333;
    color: #fff;
}

.navbar{
    width: 90%;
    padding: 30px;
    align-items: center;
    margin: auto ;
    display: flex;
    justify-content: space-between;
    margin-top: -3%;
    justify-content: center;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: auto;
    position: relative;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 10px;
    background:#333;
    position: absolute;
    left: 1px;
    bottom: -10px;
}

.navbar ul li:hover::after{
    width: 40%;
    transition: 0.5s;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color:black;
    font-weight: 540;
    padding: 50px;
}

/* back to top */
.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color:#baa382;
    border-radius: 0.8rem;
    padding: 0.2rem;
    text-decoration: none;
    transition: 0.2s ease-out;
}



.back-to-top:hover{
    background-color:aliceblue;
}

.back-to-top:hover span{
    transform: translateY(-4px);
}

.restaurant-logo img{
    justify-content: center;
    width: 12%;
    border-radius: 100%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    margin-left: auto;
    background-color: antiquewhite;
    margin: auto;
    padding: 20px;
    margin-top: -180px;
    height: 880px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 30px;
    box-shadow: 60px 60px 800px #0a0a0a;
  }
  
  /* The Close Button */
  .close
   {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover
   {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .close:focus
  {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  table, th, td {
    border:1px solid black;
    text-align: center;
    padding: 2px;
  }
  
  input {
    width: 10%;
    text-align: center;
  }

#dollar {
    margin-left: 100px;
}

#confirm{
    padding: 10px 50px;
    align-self: left;
    margin:auto;
    float: right;
    margin-top: 15px;
}

#confirm:hover{
    transition: 0.5s;
    background-color: #333;
    color: #fff;
}