/*About us page*/
@font-face{

    font-family: caveat;
    src:url(../Caveat-VariableFont_wght.ttf)
}

@font-face{

    font-family: grypen;
    src:url(../QwitcherGrypen-Bold.ttf)
}
*{

    padding:0;
    margin:0;
    box-sizing: border-box;
}
.title {

    margin-top:100px;
    text-align: center;
   font-family: 'Courier New', Courier, monospace;
   color: rgb(92, 57, 32);
      
}

.Slideshow img{

    vertical-align:middle;
    width:100%;
    object-fit:cover;
    height:80vh;
    

}

.slide-container{

    position:relative;
    width:100%;
    
    
    
}
.Slideshow{

    display:none;
  
}

.cursor{

    cursor:pointer;
    

}

.prev,.next{

    cursor:pointer;
    position:absolute;
    top:40%;
    width:auto;
    padding:16px;
    margin-top:-50px;
    color:white;
    font-weight:bold;
    font-size:20px;
    border-radius:0 3px 3px 0;
    user-select:none;
    -webkit-user-select: none;
    background-color:rgba(0, 0, 0, 0.406)

}
.next{

    right:0;
    border-radius:3px 0 0 3px;
}

.prev:hover,.next:hover{

    background-color:rgba(0, 0, 0, 0.8)
}
.row:after{

    content:"";
    display:table;
    width:16.66;
    clear:both;
  

}
.column{

    float:left;
    width:16.66%;

}
.smallimg{

    opacity:0.6;
    object-fit:cover;
    height:20vh;
    
}

.active,.smallimg:hover{

    opacity:1;
}

.about-container{

    background-color: rgb(167, 165, 165);
    padding:10%;
}

.history{

    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    background-image:linear-gradient(to right, rgb(189, 143, 91) , rgb(190, 190, 190));
    padding:20px;
}


.about-container h1{

   text-align:center;
   font-family: grypen;
   color:white;
   font-size:50px;
   margin-bottom:30px;
}

.about-container p{

    color:white;
    font-size:16px;
}

.member{

    display:grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 20px;

    
}
.member img{

    width:50%;
      

   
}
.member div{

   text-align:center;
   width:100%;
   padding:10%;
   background-color: rgb(243, 225, 225);
   border-radius:15px;
   box-shadow: 5px 10px #0000005d;
   height:32rem;
   
   
}

@media only screen and (max-width:1024px){

    .member div{

        height:36rem;
        width:100%;
   
    }
}

.member div p{

    
    color:black;

}
.fivelegend{

    margin-top:10%;
}

.achievement-content{

    display:grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 15px;
 
   
}


.achievement-content div img{

    height:30vh;
    object-fit: contain;
}

.achievement-content div {

    padding:10%;
    text-align: center;
}
.achievement{

    margin-top:100px;
}

.service{

    position:relative;
    width:100%;
    display: flex;
    justify-content: center;
    height:143vh;
    
    
}

.service img.servicebackground{

    filter: blur(3px);
    object-fit: cover;
}

.servicecontent{

    position: absolute;
    color:white;
    text-align: center;
    padding:20px;
    width:100%;
   

}

.service h1{

    font-family: grypen;
    font-size:50px;
}

.service p{

    font-size: 17px;
    margin-top:30px;
}
.colorabout{

    position:absolute;
    width:100%;
    height:143vh;
    background-color: rgba(0, 0, 0, 0.434);
    opacity:0.5;
    object-fit: cover;
}

.serviceimg1{

    width:100%;
    display:flex;
    justify-content: space-evenly;
    margin-top:40px;
    
}

.serviceimg2{

    width:100%;
    display:flex;
    justify-content: space-evenly;
    margin-top:40px;
    
}