@charset "utf"; 


body{
    min-width:50%;
    max-width:100%;
    background-color: rgb(0, 0, 0);
    height: 1500    px;
    z-index: -1;
}

article{
    border: solid transparent;
    position:relative;
    margin-top: 106.67px; 
   
    width:100%;  

}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
    height: 1200px;
    top: 100px;
}

.footer {
    margin-top: 330px;
}


/*let the button to the right*/
button#button2{
    float: right;
}

/*return the div*/
div#register-button::after{
    clear: both;
    content: "";
    display: table;
}

/*design the button*/
button#button2{
    border: solid transparent;
    border-radius: 15px;
    background-color: rgb(21, 20, 19);
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 10%;
    box-shadow:1px 3px 9px #d8dade;
}

.border {
    border:solid transparent;
    width: 100%;
    height: 700px;
    z-index: 1;
    margin-top: 10px;
}

/*arranged the border*/
.border .Sign-in,
.border .slideshow-container {
    float: left;
    border: 1px solid rgb(157, 154, 154);
    box-shadow: 10px 10px 70px rgb(2, 2, 2);
    display: block;
}

.border .slideshow-container {
    height: 795.66px;
    width: 655.66px;
}


div.border::after{
    clear: both;
    content: "";
    display: table;
}

#myVideo1 {
    height: 100%;
    width: 100%;
}

/*set the size of the text in the border*/
.Sign-in>h1 {
    font-family: cursive;
}

.Sign-in>p {
    font-weight: bolder;
    font-size: larger;
}

/*set the size of this border*/
div.border .slideshow-container{
    margin-left: 200px;
    height: 485.66px;
    margin-top: 80px;
}

/*set the size of this border*/
div.border .Sign-in{
    border: solid transparent;
    background-color: antiquewhite;
    width: 650px;
    height: 814px;
    margin-top: 81px;
}

/*set the text pattern*/
h1{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}

p.welcome{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    margin: 30px;
}

/*the choose of the selection*/
.tablink {
    background-color: rgb(246, 203, 148);
    color: rgb(14, 13, 13);
    float: left;
    border: 0px solid transparent;
    box-shadow: 0 1px 9px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 47%;
  }

.tablink:hover {
    background-color: rgb(245, 211, 169);
}

div.button1>button#tablink2 {
    margin-left: 3%;
}

.tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Home {background-color: antiquewhite;}
#News {background-color: antiquewhite;}

.tabcontent label {
    display: block;
}

.tabcontent label#password {
    margin-top: 60px;
}

/*for choose the country*/
button#country>img {
    margin-top: 3%;
}

button#country:hover,#country:focus {
    background-color: rgb(216, 213, 213);
}

button.dropbtn {
    font-size: 25px;
}

.dropdown-content a {
    font-size: 25px;
}

.dropbtn {
    background-color: #3498DB;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 16px;
    border: 1px solid gray;
    background-color: white;
    width: 25%;
    cursor: pointer;
    
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

/*the blank that can input text*/
input[type=text]#number {
    width:100%;
    padding: 12px;
    float: left;
}

input[type=text]#fname, select {
    margin-top: 5px;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid gray;
    box-sizing: border-box;
    font-family: "Reforma 1969","AXtManalBold Regular",Helvetica,Arial,"Microsoft Yahei","PingFang SC","PingFang TC","PingFang HK","Hiragino Sans",sans-serif;
  }

  input[type=password]#fname, select {
    margin-top: 5px;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid gray;
    box-sizing: border-box;
    font-family: "Reforma 1969","AXtManalBold Regular",Helvetica,Arial,"Microsoft Yahei","PingFang SC","PingFang TC","PingFang HK","Hiragino Sans",sans-serif;
  }

.Sign-in>p{
    text-align: center;
}

/*set the text of the create account*/
div.forgot_pass>p>a#create {
    margin-right: 370px;
}

/*set the text of forgot pass*/
div.forgot_pass>p>a {
    text-decoration: none;
}

div.forgot_pass>p{
    text-align: right;
    margin-top: -100px;
    margin-right: 18px;
    margin-bottom: 15px;
}

/*set the pattern of the sign in button*/
.button3>button {
    margin:auto ;
    margin-left: 3%;
    border: solid transparent;
    padding: 10px;
    padding-left: 280px;
    padding-right: 280px;
    background-color: rgb(99, 173, 225);
    border-radius: 1px;
}

.button3>button:hover {
    background-color: rgb(42, 151, 228);
}

.sign-in_with>p {
    text-align: center;
    margin: 30px;
}

/*set the size of the button*/
button.google{
    border: 1px solid gray;
    background-color: white;
    width: 93%;
    padding: 10px;
    margin-left: 3%;
}

.other_method{
    margin-top: 1%;
    margin-left: 3%;
}   

/*set the size of the button*/
button.facebook{
    border:1px solid gray;
    background-color: white;
    width: 47.5%;
    padding: 10px;
    padding-top: 15px;
}

/*set the size of the button*/
button.apple{
    border: 1px solid gray;
    background-color: white;
    width: 47.5%;
    padding: 10px;
    padding-top: 12px;
}

button.google:hover{
    background-color: #d8dade;
}

button.facebook:hover{
    background-color: #d8dade;
}

button.apple:hover{
    background-color: #d8dade;
}

/*the size pf the image of google in button*/
button.google>img{
    height: 5%;
    width: 5%;
}

/*the size pf the image of facebook in button*/
button.facebook>img{
    height: 10%;
    width: 10%;
}

/*the size pf the image of apple in button*/
button.apple>img{
    height: 0%;
    width: 9%;
}

div.term>p {
    text-align: center;
    margin-top: 20px;
}

div.term>p>a {
    text-decoration: none;
}

@media only screen and (max-width: 1025px){
    .border .slideshow-container {
        display: none;
        float: left;
        border: 1px solid rgb(157, 154, 154);
        box-shadow: 10px 20px 100px rgb(164, 163, 163);
    }

    .border .Sign-in{
        float: left;
        border: 1px solid rgb(157, 154, 154);
        box-shadow: 10px 20px 100px rgb(164, 163, 163);
        margin: 175px;
        border-radius: 15px;
    }
    
  
}

footer{

    clear:both; 
}
