@charset "utf"; 


/* video */

.mainvideo{
   
    text-align: center;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    width:100%;
}

.video{
   height:80vh;
   width: 100%;
   object-fit: cover;
 
}

.vidtut h1{
    position: absolute;
   left:20%;
    color: #fff;
    font-size:80px;
}

.event-color{
    background-color: #00000066;
    height:80vh;
    width:100%;
    position:absolute;

}
/*article */


.tp{
 text-align:center;
    font-size: 5em;
    color: white;
    text-shadow: white -2px 0px 0px, rgb(0, 0, 0) -14px 0px 8px;
    animation: glow 2.0s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #6306b5, 0 0 40px #040283, 0 0 50px #0a0c5c, 0 0 60px #450567, 0 0 70px #340f69;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #59bcf9, 0 0 40px #1c84da, 0 0 50px #217ad3, 0 0 60px #2355c8, 0 0 70px #2568c5, 0 0 80px #1a7bb8;
    }
  }

article 
{
   margin-top: 100px;
   text-align:center;

}

.img1 img{
    object-fit: cover;
    height:40rem;
    width:100%;
    border-width: 5ch;
    border:black 15px;
   
}

 .img2 img {
    object-fit: cover;
    height:40rem;
    width:100%;
    border-width: 5ch;
    border:black 15px;
  

}

.img3 img{
    object-fit: cover;
    height:40rem;
    width:100%;
    border-width: 5ch;
    border:black 15px;
    
}

.img4 img{
    object-fit: cover;
    height:40rem;
    width: 100%;
    border-width: 5ch;
    border:black 15px;
   
}

.img5 img{
    object-fit: cover;
    height:40rem;
    width:100%;
    border-width: 5ch;
    border:black 15px;
    
}

.img6 img{
    object-fit: cover;
    height:40rem;
    width:100%;
    border-width: 5ch;
    border:black 15px;
  
}


.atcldec{
    margin-bottom: 50px;
    
}

.atcldec p{
    font-size: 1.5em;
    line-height: 1.6;
    padding: 30px 30px 22.5px;  
}

.img1{
    
    display:flex;
    padding:10%;
}

.img2{
    display:flex;
    padding:10%;
}

.img3{
    display:flex;
    padding:10%;
}

.img4{
    display:flex;
    padding:10%;
}

.img5{
    display:flex;
    padding:10%;
}

.img6{
    display:flex;
    padding:10%;
}

/*box text decoration */
h2.hi {
    font-size: 4em;
    color: #e2e6e6e0;
    font-weight: normal;
    font-style:oblique;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    line-height:1.2em;
    text-shadow: white -2px 0px 0px, rgb(0, 0, 0) -14px 0px 8px;
  }

  .imm ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .imm ul li{
    margin-left: 30%;
  }

  ul li {
    color:#fff;
    font-size: 2em;
    margin-bottom: 5px;
  }

  p.bye1 {
    text-align:initial;
    color:#fff;
    font-size: 2em;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  p.king{
    margin-top: 2%;
    color:#fff;
    font-size:2em;
  }

  body{
    width:100%;
    background-color: rgb(167, 165, 165);
  
  }

  .imm{
    width:100%;
  }
  .pict{
    width:100%;
  }

.conclusion{
    color:#fff;
}  

@media only screen and (max-width:1024px){


  
.tp{
  margin-left: 29%;
  font-size: 3em;
  color: white;
  text-shadow: white -2px 0px 0px, rgb(0, 0, 0) -14px 0px 8px;
  animation: glow 2.0s ease-in-out infinite alternate;
}

  article 
{
   margin-top: 100px;

}

.img1 img{
    object-fit: cover;
    height:20cm;
    width:100%;
    border-width: 5ch;
    border:black 15px;
}

 .img2 img {
    object-fit: cover;
    height:20cm;
    width:100%;
    border-width: 5ch;
    border:black 15px;
}

.img3 img{
    object-fit: cover;
    height:20cm;
    width:100%;
    border-width: 5ch;
    border:black 15px;
}

.img4 img{
    object-fit: cover;
    height:20cm;
    width: 100%;
    border-width: 5ch;
    border:black 15px;
}

.img5 img{
    object-fit: cover;
    height:27cm;
    width:100%;
    border-width: 5ch;
    border:black 15px;
}

.img6 img{
    object-fit: cover;
    height:15cm;
    width:100%;
    border-width: 5ch;
    border:black 15px;
}


.atcldec{
    margin-bottom: 50px;
}

.atcldec p{
    font-size: 1.5em;
    line-height: 1.6;
    padding: 30px 30px 22.5px;  
}

.img1{
    
    display:grid;
    grid-template-columns: repeat(1,1fr);
    padding:10%;
}

.img2{
  display:grid;
  grid-template-columns: repeat(1,1fr);
  padding:10%;
}

.img3{
  display:grid;
  grid-template-columns: repeat(1,1fr);
  padding:10%;
}

.img4{
  display:grid;
  grid-template-columns: repeat(1,1fr);
  padding:10%;
}

.img5{
  display:grid;
  grid-template-columns: repeat(1,1fr);
  padding:10%;
}

.img6{
  display:grid;
  grid-template-columns: repeat(1,1fr);
  padding:10%;
}

/*box text decoration */
h2.hi {
    font-size: 4em;
    color: #e2e6e6e0;
    font-weight: normal;
    font-style:oblique;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    line-height:1.2em;
    text-shadow: white -2px 0px 0px, rgb(0, 0, 0) -14px 0px 8px;
  }

  .imm ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .imm ul li{
    margin-left: 30%;
  }

  ul li {
    color:#fff;
    font-size: 1em;
    margin-bottom: 5px;
  }

  p.bye1 {
    text-align:initial;
    color:#fff;
    font-size: 1.5em;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  p.king{
    margin-top: 2%;
    color:#fff;
    font-size:2em;
  }

  body{
    width:100%;
  
  }

  .imm{
    width:100%;
  }
  .pict{
    width:100%;
  }

.conclusion{
    color:#fff;
}  
}



  